# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directory
/.vs/
/Debug/
/myCppDoc/Debug/*.res
/myCppDoc/Debug/*.pdb
/myCppDoc/Debug/*.log
/myCppDoc/Debug/*.natvis
/myCppDoc/Debug/moc
/myCppDoc/Debug/myCppDoc.tlog
/myCppDoc/Debug/qmake
/myCppDoc/Debug/rcc
